@mixin tablet{
    @media screen and (min-width: 710px){
    @content;
    } 
}
@mixin tabletExt{
    @media screen and (min-width: 1050px){
    @content;    
    }
}
@mixin desktop{
    @media screen and (min-width: 1080px){
    @content;
    }
}
@mixin desktopLong{
    @media screen and (min-width: 1200px){
      @content;  
    }
}
@mixin desktopWide{
    @media screen and (min-width: 1550px){
     @content;   
    }
}
$color-light-grass-green: #2b4d39;
$color-dark-green: #16251c;

.header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.65rem;
    width: 95vw;
    &__links,
    --left
    --right{
        align-self: center;
        margin-top: 0.65rem;
        width: 300px;
    }
    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
        max-width: 90%;
        margin-left: 1rem;
    }
}
.logo{
    display: flex;
    justify-content: center;
    width:190px;
    padding-right: 0;

    @include tablet{
        width: 140px;
    }
    @include tabletExt{
        width:260px;
    }
}

.btn-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    max-width: 90%;
    @include tablet{
        max-width:90%;
        margin-top: 1rem;
        // margin-left: 1rem;
    }
}
.search-btn{
    background-color: rgba(rgb(226, 168, 168), 0.8);
    border: $color-dark-green 3px solid;
    color: $color-dark-green;
    border-radius: 2px;
    max-width: 6.5rem;
    min-width: 5.5rem;
    max-height: 3rem;
    min-height: 3rem;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 0.65rem;

    @include tablet {
        min-height: 4rem;
        max-height: 4rem;
        margin-left: 1rem; 
        font-size: 1.2rem;
        font-family: sans-serif;
        max-width: 7rem;
        min-width: 7rem;
        text-decoration: none;
    }
    @include tabletExt{
        max-width: 12rem;
        min-width: 12rem;
        max-height: 2.7rem;
        min-height: 2.7rem;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
    }
}
.upload{
    @include tablet{
        width: 8.5rem;
        text-decoration: none;
    }
    @include tabletExt{
    width:12rem;
    margin-right:0.65rem;
}
}
.pic{
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%; 
}
.pic-frame{
    align-self: center;
    max-width: 10%;
}
.plus-sign{
    margin-right:00.65rem;
    margin-left:0.09rem;
    width: 20%;
    background-color: $color-dark-green;

    @include tablet{
        width: 17%;
    }
    @include tabletExt{
        width: 10%;
    }
}
.pageLinks{
    width: 25%;
}

