@mixin tablet{
    @media screen and (min-width: 740px){
    @content;
    } 
}

.buy-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 47vw;
    @include tablet{
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100vw;
    }
}
.list-item{
    background-color: white;
    width: 50vw;
}
.link-box{
    text-decoration: none;
}
.art-image{
    width: 90vw;
    
    @include tablet{
    align-self: center;
    align-items: center;
    width:80%;
    height: 400px;
    margin-top: 2rem;
}
}
.artwork-title_frame{
    width: 80vw;
    height: 25vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include tablet{
        width: 25vw;
    }
}
.artT{
    text-decoration: none;
    color: #16251c;
    font-family: sans-serif;
    font-size: 19px;
    @include tablet{
    font-weight: 600;
    font-size: 20px;
}
}
.artDescription{
    text-decoration: none;
    color: #2b4d39;
    font-family: sans-serif;
    font-size: 16px;
    width: 70vw;

    @include tablet{
    font-weight: 600;
    font-size: 17px;
    width: 25vw;
}
    @include desktop{
        width: 25vw;
    }
}

.seller{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 17px;
}