$color-light-grass-green: #2b4d39;
$color-light-green: #427c5a;
$color-medium-green: #20864b;
$color-dark-green: #16251c;
$color-light-gray: #ecf0f1;
$color-medium-gray: #bdc3c7;
$color-dark-gray: #34495e;



@font-face {
    font-family: "Avenir-Light"; 
    src:"../src/assets/data/fonts/Linotype_AvenirNextLTPro-Light.woff"
}